@use '../abstract/mixin' as mx;

.gameoverlay{
    position: fixed;
    inset: 0;
    height: 100vh;
    width: 100%;
    @include mx.flex-center(column);
    text-align: center;
    z-index: 10;
}


.cardssection{
    @include mx.flex-center(row);
    width: 100%;
    flex-wrap: wrap;
    flex: 1;
    overflow-y: auto;
    gap: 32px;
}

@keyframes slideUp {
    from {
        transform: translateY(110%);
        opacity: 0;
    }

    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes slideDown {
    from {
        transform: translateY(0%);
        opacity: 1;
    }

    to {
        transform: translateY(100%);
        opacity: 0;
    }
}

.slide-down {
    animation: slideDown .6s ease forwards;
}

.slide-up{
    animation: slideUp .6s ease backwards;
}