@use '../abstract/mixin' as mx;

.asideh1 {
    @include mx.red-rose($align: left, $size: 54px, $style: Bold, $weight: 700);
    margin: 0px;
}

aside {
    padding: 80px;
}

section {
    @include mx.flex-center($direction: column, $justify: left, $align: flex-start);

}

.textsection {
    @include mx.almarai($align: center, $size: 20px, $style: normal, $weight: 400);
    margin-bottom: 30px;

    p {
        margin: 10px;
    }

    &__title {
        @include mx.flex-center($direction: row, $justify: center, $align: center);
        @include mx.almarai($align: center, $size: 24px, $style: Bold, $weight: 700);
        gap: 20px;
    }

    &__selection {
        @include mx.flex-center($direction: column, $justify: center, $align: flex-start);
        @include mx.almarai($align: center, $size: 20px, $style: normal, $weight: 700);
        gap: 10px;
        padding-left: 20px;
        white-space: nowrap;
    }

    &__selector {
        @include mx.flex-center($direction: row, $justify: left, $align: center);
        @include mx.almarai($align: center, $size: 20px, $style: normal, $weight: 400);
        gap: 12px;
        cursor: pointer;
    }
}

.selector {
    &__circle {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        background-image: url("/assets/selection_circle.svg");
        @include mx.background($position: center);
    }

    &__line {
        width: 60px;
        height: 20px;
        flex-shrink: 0;
        background-image: url("/assets/line3reverse.png");
        @include mx.background($position: center);
        opacity: 0;
    }
}

.textsection__selector.active {

    .selector__circle {
        background-image: url("/assets/clicked_circle.svg");
    }

    .selector__line {
        opacity: 1;
    }
}

.selectedbar {
    @include mx.flex-center($direction: row, $justify: center, $align: center);
    @include mx.almarai($align: center, $size: 20px, $style: normal, $weight: 400);
    background-color: #F6F6F6;
    padding: 10px;
    cursor: pointer;

    &__text {
        @include mx.flex-center($direction: row, $justify: center, $align: center);
        padding-right: 10px;
    }
}

.startbutton {
    @include mx.flex-center($direction: row, $justify: center, $align: center);
    @include mx.red-rose($align: center, $size: 20px, $style: Bold, $weight: 700);
    background-color: #f0ea6e;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;

    &:hover {
        transform: scale(1.1);
        transition: ease-in-out 0.1s;

        .startbutton__img {
            transform: rotate(-15deg);
            transition: ease-in-out 0.1s;
        }
    }

}

.unclickedcircle {
    background-image: url("/public/assets/selection_circle.svg");
    @include mx.background($position: left);
    width: 273px;
    flex-shrink: 0;
}

.clickedcircle {
    background-image: url("/public/assets/clicked_circle.svg");
    @include mx.background($position: left);
    height: 20px;
    width: 20px;
    flex-shrink: 0;
}

.selectedline {
    background-image: url("/public/assets/line3reverse.png");
    @include mx.background($position: left);
    flex-shrink: 0;
}

.d_none {
    display: none;
}

.choosen_settings{
    @include mx.flex-center($direction: column, $justify: center, $align: center);
    gap: 20px;
}

#game_play_bar {
    max-height: auto;
    overflow: hidden;
    transition: all 0.7s cubic-bezier(.34,1.56,.64,1);

    &.expanded {
        transform: scaleX(1.05);
    }
}

.selectedbarline{
    background-image: url("/public/assets/Line 6.svg");
    @include mx.background($position: center);
    height: 40px;
    width: 40px;
}

.selectedbarline.active{
    background-image: url("/public/assets/Line 5.svg");
    @include mx.background($position: center);
    height: 40px;
    width: 40px;
}