@use '../../abstract/mixin' as mx;

.codevibestheme {
    @include mx.flex-center(column);
    background-color: #303131;
    height: 100vh;
    width: 100%;
}


.headercodevibestheme {
    margin-top: 20px;
    height: 62px;
    width: auto;
    background-color: #303131;
    @include mx.flex-center(row);
    gap: 50px;
}

.playercountercodevibes {
    @include mx.flex-center(row);
    height: 62px;
    gap: 20px;
    opacity: 1;
    background-color: #415652;
    padding-left: 10px;
    padding-right: 10px;

    &__icon {
        width: 24px;
        height: 20px;

    }

    ;

    &__blue {
        font-family: "Red Rose";
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        color: #2BB1FF;
    }

    ;

    &__orange {
        font-family: "Red Rose";
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        color: #F58E39;
    }
}

.currentplayercodevibes {
    @include mx.flex-center(row);
    gap: 20px;
    
    h2 {
        font-family: "Red Rose";
        font-weight: 400;
        font-style: Regular;
        font-size: 26px;
        color: #FFFFFF
    }
}

.exitgamecodevibes {
    height: 62px;
    @include mx.flex-center(row);
    background: #86E9D633;
    cursor: pointer;
    border: 1px solid #4DD5BC;
    padding: 6px 4px 6px 4px;
    gap: 10px;

    &__icon {
        height: 30px;
        width: 30px;
    }

    p {
        font-family: "Red Rose";
        font-weight: 700;
        font-style: Bold;
        font-size: 24px;
        color: #FFFFFF;
    }
}

.endgameoverlaycodevibes {
    @include mx.flex-center(column);
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);

    &__window {
        background-color: #FFFFFF;
        @include mx.flex-center(column);
        height: 270px;
        width: 540px;

        h1 {
            font-family: "Red Rose";
            font-weight: 700;
            font-style: Bold;
            font-size: 32px;
            color: black;
        }
    }
}

.endgamecodevibesbuttons {
    @include mx.flex-center(row);
    gap: 24px;
    
    &__green {
        @include mx.flex-center(column);
        height: 57px;
        gap: 10px;
        padding-top: 16px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-left: 24px;
        background-color: #66CFBC;
        cursor: pointer;
        p {
            font-family: "Red Rose";
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            color: white;
        }
    }

    &__white {
        cursor: pointer;
        height: 57px;
        gap: 10px;
        padding-top: 16px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-left: 24px;
        border-width: 2px;
        border: 2px solid #4DD5BC;
        background-color: #FFFFFF;

        p{
            font-family: "Red Rose";
            font-weight: 700;
            font-style: Bold;
            font-size: 20px;
            color: #4DD5BC;
        }
    }
}