@use '../../abstract/mixin' as mx;

.daprojectstheme {
    @include mx.flex-center(column);
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.headerdaprojectstheme {
    margin-top: 20px;
    height: 102px;
    width: auto;
    background-color: #f0f3f4;
    @include mx.flex-center(row);
    gap: 50px;
}

.playercounterdaprojects {
    @include mx.flex-center(row);
    height: 62px;
    gap: 20px;
    opacity: 1;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

    &__icon {
        width: 24px;
        height: 20px;

    }

    &__blue {
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        color: #097FC5;
    }

    &__orange {
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        color: #EA6900;
    }
}

.currentplayerdaprojects {
    @include mx.flex-center(row);

    h2 {
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        color: #1E7594;
    }
}

.exitgamedaprojects {
    height: 54px;
    @include mx.flex-center(row);
    background: #BFE5F2;
    cursor: pointer;
    padding: 6px 4px 6px 4px;
    gap: 10px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;

    &__icon {
        height: 30px;
        width: 30px;
    }

    p {
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        color: #1E7594;
    }
}


.endgamedaprojects {
    @include mx.flex-center(column);
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    

    &__window {
        background-color: #FFFFFF;
        @include mx.flex-center(column);
        height: 270px;
        width: 540px;
        border-radius: 20px;
        h1 {
            font-family: "Figtree";
            font-weight: 700;
            font-style: Bold;
            font-size: 28px;
            color: #294F60;
        }
    }
}

.endgamedaprojectsbuttons {
    @include mx.flex-center(row);
    gap: 24px;

    &__blue {
        @include mx.flex-center(column);
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
        border-radius: 10px;
        cursor: pointer;
        background-color: #BFE5F2;
        box-shadow: 3px 3px 5px 0px #2F2E2E33;

        p {
            font-family: "Figtree";
            font-weight: 700;
            font-style: Bold;
            font-size: 16px;
            color: #1E7594;
        }
    }

    &__red {
        cursor: pointer;
        gap: 10px;
        opacity: 1;
        padding-top: 12px;
        padding-right: 20px;
        padding-bottom: 12px;
        padding-left: 20px;
        border-radius: 10px;
        background-color: #FD8A81;
        box-shadow: 3px 3px 5px 0px #2F2E2E33;

        p {
            font-family: "Figtree";
            font-weight: 700;
            font-style: Bold;
            font-size: 16px;
            color: #fff;
        }
    }
}