@use '../../abstract/mixin' as mx;

.foodstheme {
    @include mx.flex-center(column);
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.headerfoodstheme {
    margin-top: 20px;
    height: 102px;
    width: auto;
    background-color: #F0E5D9;
    @include mx.flex-center(row);
    gap: 50px;
}

.playercounterfoodstheme {
    @include mx.flex-center(row);
    height: 62px;
    gap: 20px;
    opacity: 1;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;

    &__icon {
        width: 30px;
        height: 24px;
    }

    &__blue {
        font-family: Delius Unicase;
        font-weight: 700;
        font-style: Bold;
        font-size: 30px;
        color: #097FC5;
    }

    &__orange {
        font-family: Delius Unicase;
        font-weight: 700;
        font-style: Bold;
        font-size: 30px;
        color: #EA6900;
    }
}

.currentplayerfoodstheme {
    @include mx.flex-center(row);

    h2 {
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        color: #1E7594;
    }
}

.exitgamefoodstheme {
    height: 54px;
    @include mx.flex-center(row);
    background: #BFE5F2;
    cursor: pointer;
    padding: 6px 4px 6px 4px;
    gap: 10px;
    border-radius: 10px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 10px;
    
    &__icon {
        height: 30px;
        width: 30px;
    }

    p {
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        color: #1E7594;
    }
}