@use '../abstract/mixin' as mx;

.daprojectstheme {
    @include mx.flex-center(column);
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
}

.headerdaprojectstheme {
    margin-top: 20px;
    height: 102px;
    width: auto;
    background-color: #f0f3f4;
    @include mx.flex-center(row);
    gap: 50px;
}

.playercounterdaprojects {
    @include mx.flex-center(row);
    height: 62px;
    gap: 40px;
    opacity: 1;
    background-color: #fff;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;

    &__icon {
        width: 24px;
        height: 20px;

    }
}

.currentplayerdaprojects {
    @include mx.flex-center(row);

    h2 {
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 32px;
        color: #1E7594;
    }
}

.exitgamedaprojects {
    height: 54px;
    @include mx.flex-center(row);
    background: #BFE5F2;
    cursor: pointer;
    padding: 6px 4px 6px 4px;
    gap: 10px;
    border-radius: 10px;

    &__icon {
        height: 30px;
        width: 30px;
    }

    p {
        font-family: Figtree;
        font-weight: 700;
        font-style: Bold;
        font-size: 20px;
        color: #1E7594;
    }
}